# MOD_DEFLATE COMPRESSION
SetOutputFilter DEFLATE

# NO CACHEAR SI ESTOS ARCHIVOS EXISTEN
SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png)$ no-gzip

<IfModule mod_rewrite.c>
  Options -Indexes
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f

  ####### Index -Events #######
  RewriteRule ^evento(.*)$ ?info=$1 [NC,QSA,L]
  #############################

  ####### Views #######
  RewriteRule ^home(.*)$ app/views/home/?info=$1 [NC,QSA,L]
  #####################

  ####### API Resource #######
  RewriteRule ^log(.*)$ api/v1/services/log/?info=$1 [NC,QSA,L]
  RewriteRule ^user(.*)$ api/v1/services/user/?info=$1 [NC,QSA,L]
  #############################

  ########### Error-Document ############
  RewriteRule ^403/(.*)$ warning/403.php$1 [NC,QSA,L]
  RewriteRule ^404/(.*)$ warning/404.php$1 [NC,QSA,L]
  RewriteRule ^aviso/(.*)$ app/views/warning/$1 [NC,QSA,L]

  ErrorDocument 404 http://localhost/clean/aviso/
  ErrorDocument 404 http://localhost/clean/404/
  ErrorDocument 403 http://localhost/clean/403/
  #######################################
</ifModule>

# <FilesMatch "\.(html|js|css)$">
#   FileETag None
#   <ifModule mod_headers.c>
#     Header unset ETag
#     Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
#     Header set Pragma "no-cache"
#     Header set Expires "Wed, 1 han 2000 05:00:00 GMT"
#   </ifModule>
# </FilesMatch>

<Files .htaccess>
  Order allow,deny
  Deny from all
</Files>